<?php

$config = array(
  'audio_host' => array(
    'domain' => 'DOMAIN',
    'path' => 'PATH',
    'name' => 'NAME',
    'pass' => 'PASS',
  ),
);

if (PHP_OS == 'WINNT') {
  $config['domain'] = 'DOMAIN';
}
else {
  $config['domain'] = 'DOMAIN';
}
